body{
    background:#F6FBF8;
}

.dashboard{
    max-width:1280px;
    margin:0 auto;
    padding:0 24px 40px;
}

.dashboard-grid{
    display:grid;
    grid-template-columns:1fr 1fr;

    grid-template-rows:260px 260px;

    gap:30px;
}

.dashboard-start{
    grid-column:1;
    grid-row:1;
}

.dashboard-tip{
    grid-column:1;
    grid-row:2;
}

.dashboard-recent{
    grid-column:2;
    grid-row:1 / span 2;
}

