.study-workspace{

    height:100vh;

    display:flex;

    flex-direction:column;

    overflow:hidden;

    background:#F7FBF8;
}

/* ---------------------------- */
/* Header */
/* ---------------------------- */

.workspace-header {

    flex-shrink: 0;
}

/* ---------------------------- */
/* Body */
/* ---------------------------- */

.workspace-body{

    flex:1;

    display:flex;

    overflow:hidden;

    height:calc(100vh - 72px);
}
/* ---------------------------- */
/* Main Workspace */
/* ---------------------------- */

.workspace-content{

    position:relative;

    flex:1;

    display:flex;

    flex-direction:column;

    overflow:hidden;

    background:#F7FBF8;
}

/* ---------------------------- */
/* Main Workspace */
/* ---------------------------- */

.workspace-scroll{

    flex:1;

    overflow:hidden;
}
/* Scrollbar */

.workspace-scroll::-webkit-scrollbar{

    width:8px;
}

.workspace-scroll::-webkit-scrollbar-thumb{

    background:#C9D8CD;

    border-radius:100px;
}

.workspace-scroll::-webkit-scrollbar-track{

    background:transparent;
}

.workspace-chat{

    flex-shrink:0;

    padding:0 24px 20px;

    background:#F7FBF8;
}

.welcome-scroll{

    overflow-y:auto;

    padding:32px;

    padding-bottom:20px;
}

/* Scrollbar */

.welcome-scroll::-webkit-scrollbar{

    width:8px;
}

.welcome-scroll::-webkit-scrollbar-thumb{

    background:#C9D8CD;

    border-radius:100px;
}

.welcome-scroll::-webkit-scrollbar-track{

    background:transparent;
}